<header>
    <nav class="navbar">
        <div class="container navbar-content">

    <div>            <a href="/"><img src="/public/images/we_logo_round_mxkchc.png" widgth="50" height="50" alt=""></a></div>
    <div class="headerIcons"></div>
        {{#if user}}
        
        {{user.username}}  <a href="/user/my-profile"><img class="headerIcon" src="{{user.profile_pic}}" alt=""></a>
      
            <a href="/auth/logout">Log Out</a>
        {{/if}}

        </div>
    </nav> 
</header>

