<title>World Exchangers</title>

<body class="homeBg">
    
    <div class="flex-container">

  <div class="flex-child magenta">
    <img src="/images/we_logo_darkmode_abbgrr.png" width="150" height="150" alt="">
   <h1>Welcome World Exchanger!  🌍</h1>
    <h2>GO WORLDWIDE!</h2>
    <div class="landingIcons">
    {{#each users}}
    <a href="/user/{{_id}}"><img src="{{profile_pic}}" alt="" class="headerIcon"></a>
    {{/each}}
    </div>
  </div>
  
  <div class="flex-child green">
            <p>Are you an <b>Exchange Student</b> or a <b>Student Organization</b>?</p><br>
        <button><a href="/auth/signup">Sign Up</a></button><br>        
        <button><a href="/auth/login">Log In</a></button><br>

  </div>
