:root {
  --color-bg: #fafafa;
  --color-bg-secondary: #ffffff;
  --color-text: #000000;
}

/* html {
  box-sizing: border-box;
} */

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  padding: 50px;
  font: 14px "Nunito Sans", sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
  width: 80%;
margin-left: 5%;
margin-right: 5%;
}

body.dark-theme {
    --color-bg: #202D36;
    --color-bg-secondary: #2B3743;
    --color-text:#ffffff;
}

a {
  color: #00b7ff;
}

.container {
width: 80%;
margin-left: 5%;
margin-right: 5%;
}

/* Navbar */
.navbar {
    background-color: var(--color-bg-secondary);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-dark-mode {
    background-color: var(--color-bg-secondary);
    opacity: 1;
    transition: .3s;
    color: var(--color-text);
    border: none;
    cursor: pointer;
    outline: none; 
}

.btn-dark-mode:hover {
    opacity: 0.6;
}